<div class="game-list">
  <div *ngFor="let game of games" class="game-card">
    <h3 class="game-title">{{ game.title }}</h3>
    <div class="game-details">
      <p><strong>Plateforme:</strong> {{ game.platform }}<br></p>
      <p><strong>Genre:</strong> {{ game.genre }}<br></p>
      <p><strong>Développeur:</strong> {{ game.developer }}<br></p>
      <p><strong>Éditeur:</strong> {{ game.publisher }}<br></p>
      <p><strong>Année:</strong> {{ game.release_year }}<br></p>
      <p><strong>État:</strong> {{ game.box_condition }} / {{ game.cartridge_condition }}<br></p>
      <p><strong>Prix:</strong> {{ game.purchase_price | currency }}<br></p>
      <p><strong>Collection:</strong> {{ game.collection ? 'Oui' : 'Non' }}</p>
      <button (click)="deleteGame(game.id)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-1" >
        Supprimer
      </button>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ms-4"  [routerLink]="['/game', game?.id]"> Modif</button>
    </div>
  </div>
</div>

